:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: sl(218, 44%, 22%);
    
    --ffamily: 'Josefin Sans', sans-serif;
    --fsize: 15px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,body {
    background-color: var(--clr-light-gray);
    height: 100%;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    max-width:330px;
    display: grid;
    gap: 1rem;
    background-color: var(--clr-white);
    border-radius: 1.125rem;
    padding: 1.125em;
}

article > img {
    display: block;
    max-width: 100%;
    border-radius: .725rem;
}

article > div {
    margin: .725em .5em;
    filter: blur(.5px);
    font-size: var(--fsize);
    font-family: var(--ffamily);
}

article > div > h1 {
    color: var(--clr-dark-blue);
    margin-bottom: .725em;
}

article > div > p {
    color: var(--clr-grayish-blue);
    font-weight:400;
    margin-bottom: 1em;
}